# Backend environment variables for Django
SECRET_KEY=django-insecure-your-secret-key
DEBUG=False
ALLOWED_HOSTS=.onrender.com,localhost,127.0.0.1,.vercel.app
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://ims-final-project.vercel.app

# Database settings
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Email settings (Gmail SMTP example)
EMAIL_HOST_USER=venkateswarlu4466@gmail.com
EMAIL_HOST_PASSWORD=
